* {
    font-family: sans-serif;
}

#tooltip {
    visibility: hidden;
    position: absolute;
    opacity: 0.8;
    padding: 10px;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #ecf0f1;
    font-size: 14px;
}

.textbox {
    font-size: 14px
}

#legend {
    opacity: 0.2;
    fill: #2c3e50;
}

#title {
    text-anchor: middle;
    font-size: 22px;
}

.label {
    text-anchor: middle;
}

#svg{
    background-color: white;
}
